{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multiverse Anime Store</title>
    <link rel="stylesheet" href="{% static 'MultiverseAnimeStore/sidebar.css' %}">
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('closed');
        }
    </script>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
        <h1>Multiverse Anime Store</h1>
        <nav>
            <a href="{% url 'categoria_list' %}">Categorías</a>
            <!-- Agrega más enlaces de navegación aquí si lo necesitas -->
        </nav>
        <hr>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer>
        <hr>
        <p>&copy; 2024 Multiverse Anime Store</p>
    </footer> -->
</body>
</html>
