{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multiverse Anime Store</title>
    <link rel="stylesheet" href="{% static 'MultiverseAnimeStore/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'MultiverseAnimeStore/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'MultiverseAnimeStore/css/forms.css' %}">
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('closed');
        }
    </script>
</head>
<body>

    {% if sidebar != 0 %}
    <div id="sidebar" class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
        <h1>Multiverse Anime Store</h1>
        <nav>
            <ul>
                
                <li><a href="{% url 'usuarios_list' %}">Usuarios</a></li>
                <li><a href="{% url 'sexos_list' %}">Sexos</a></li>
                <li><a href="{% url 'roles_list' %}">Roles</a></li>
                <li><a href="{% url 'config_contacto_list' %}">Config Contactos</a></li>
                <!-- <li><a href="{% url 'contactos_list' %}">Contactos</a></li> -->
                <li></li>

                <li><a href="{% url 'categoria_list' %}">Categorías</a></li>
                <li><a href="{% url 'productos_list' %}">Productos</a></li>
                <li><a href="{% url 'pedidos_list' %}">Pedidos</a></li>
                <li><a href="{% url 'estado_pedidos_list' %}">Estados</a></li>
                <!-- <li><a href="{% url 'productos_auditoria' %}">Auditoría Productos</a></li> -->
                <li><a href="{% url 'consultas_dinamicas_list' %}">Consultas Dinámicas</a></li>

            </ul>
            <!-- Agrega más enlaces de navegación aquí si lo necesitas -->
        </nav>
        <hr>
    </div>
    <main>
    {% else %}
        <main style="margin-left: 0px !important;">
    {% endif %}

    
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer>
        <hr>
        <p>&copy; 2024 Multiverse Anime Store</p>
    </footer> -->
</body>
</html>

{% if request.resolver_match.url_name == 'pedidos_create' %}
    <script src="{% static 'MultiverseAnimeStore/Js/pedidos_form.js' %}"></script>
{% endif %}

{% if request.resolver_match.url_name == 'usuarios_create' %}
    <script src="{% static 'MultiverseAnimeStore/Js/usuarios_form.js' %}"></script>
{% endif %}

{% if request.resolver_match.url_name == 'usuarios_update' %}
    <script src="{% static 'MultiverseAnimeStore/Js/usuarios_form.js' %}"></script>
{% endif %}


{% if request.resolver_match.url_name == 'register' %}
    <script src="{% static 'MultiverseAnimeStore/Js/usuarios_form.js' %}"></script>
{% endif %}

