{% extends "base.html" %}
{% block content %}
<h2>{% if object %}Editar{% else %}Crear{% endif %} Pedido</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="productos">Productos:</label>

    {% if request.resolver_match.url_name == 'pedidos_create' %}
    <select id="productos" name="productos">
            <option value="">Seleccione un producto</option>
        {% for producto in Productos %}
            <option value="{{ producto.prod_id }}">{{ producto.prod_nombre }} - ${{ producto.prod_precio_venta }}</option>
        {% endfor %}
    </select>
    <span><label> Cantidad :</label> <input type="number" name="Cantidad"></span>

    <button type="button" id="addProducto">Agregar Producto</button>
    <div id="productosList">
        <!-- Aquí se mostrarán los productos agregados al pedido -->
    </div>
    {% else %}
        <ul>
            {% for pp in productos_relacionados %}
                
                <div>{{ pp.prod }} - 
                    ${{ pp.pped_precio_unitario }} - 
                    x{{ pp.pped_cantidad }} - 
                    Total: ${{ pp.total }}</div>

            {% empty %}
                <li>No hay productos relacionados.</li>
            {% endfor %}
        </ul>
    {% endif %}

    

    <button type="submit">Guardar</button>
</form>
<a href="{% url 'pedidos_list' %}">Volver al listado</a>
{% endblock %}

