{% extends "base.html" %}
{% block content %}

<form method="post">
    <h2 class="form-header">{% if object %}Editar{% else %}Crear{% endif %} Usuario</h2>
    {% csrf_token %}
    {{ form.as_p }}

    

    <div class="form-list">
    <div id="contactosContainer" class="form-contactos">
        <div class="contacto-row form-linear">
            <p> Contacto:</p>
            <select name="tipo_contacto">
                <option value="">Tipo de contacto</option>
                <option value="c">Correo</option>
                <option value="t">Telefono</option>
                <option value="d">Direccion</option>
                <option value="p">Postal</option>
            </select>
            <label> Dato:</label> <input type="text" name="dato_contacto" class="form-dato-contacto">
        </div>
        <button type="button" id="addContacto">Agregar Contacto</button>
    </div>
    

    {% if request.resolver_match.url_name == 'usuarios_update' %}

    <h3>Contactos relacionados</h3>
    <ul>
        {% for contacto in contactos_relacionados %}
            <li>
                {{ contacto.dato_contacto }} ({{ contacto.tipo_contacto }})
                <select name="tipo_contacto_editado_{{ contacto.id_contacto }}" class="tipo-contacto-editado">
                    <option value="c" {% if contacto.tipo_contacto == 'c' %}selected{% endif %}>Correo</option>
                    <option value="t" {% if contacto.tipo_contacto == 't' %}selected{% endif %}>Telefono</option>
                    <option value="d" {% if contacto.tipo_contacto == 'd' %}selected{% endif %}>Direccion</option>
                    <option value="p" {% if contacto.tipo_contacto == 'p' %}selected{% endif %}>Postal</option>
                </select>
                <span>
                    <label> Dato :</label>
                    <input type="text" name="dato_contacto_editado_{{ contacto.id_contacto }}" class="dato-contacto-editado" value="{{ contacto.dato_contacto }}">
                </span>
                <input type="hidden" name="contactos_relacionados_editados" id="contacto_editado_{{ contacto.id_contacto }}"
                    value="{{ contacto.tipo_contacto }},{{ contacto.dato_contacto }},{{ contacto.id_contacto }}">
                <a href="{% url 'contactos_delete' contacto.pk %}" onclick="return confirm('¿Seguro que deseas eliminar este contacto? \n no se guardaran los demas cambios realizados.');" class="btn btn-danger">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay contactos relacionados.</li>
        {% endfor %}
    </ul>

    {% endif %}

    </div>

    <div class="form-linear form-center">
        
        <button type="submit">Guardar</button>

        <a href="{% url 'usuarios_list' %}" class="btn-link">Volver al listado</a>
        
    </div>
</form>



{% endblock %}
