
        <nav class="navbar">
  <div class="navbar-container">

    <div class="navbar-logo" onclick="showSection('inicio')">
      <div class="navbar-logo-icon">
        <i class="fas fa-meteor"></i>
      </div>
      <div>
        <h1 class="navbar-title">Multiverse</h1>
        <span class="navbar-subtitle">Anime Store</span>
      </div>
    </div>

    <div class="navbar-menu">
      <a class="navbar-link" href="{% url 'home' %}">Inicio</a>
      <a class="navbar-link" href="{% url 'catalogo' %}">Catálogo</a>
      <a class="navbar-link">Mis Pedidos</a>
      <a class="navbar-link navbar-link-muted" href="{% url 'admin_home' %}">Gestión</a>
    </div>

    <div class="navbar-actions">
      <button class="navbar-cart" onclick="toggleCart()">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>

  </div>
</nav>
      

    