{% extends "base.html" %}
{% block content %}

<form method="post" class="form-container">
    <h2 class="form-header">{% if object %}Editar{% else %}Crear{% endif %} Categoría</h2>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <!-- {{ form.as_p }} -->

    
    {% if form.errors %}
        <div class="error-container" >
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error-item" style="padding-bottom:14px;">{{ error }}</div>
                {% endfor %}
            {% endfor %}
    {% endif %}

    
    {% if form.errors %}
        <div class="error-container" >
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error-item" style="padding-bottom:14px;">{{ error }}</div>
                {% endfor %}
            {% endfor %}
    {% endif %}

    {% for field in form.visible_fields %}
        <div class="form-floating">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    {% endfor %}
    <div class="form-linear form-center">
        <button type="submit">Guardar</button>
        <a href="{% url 'consultas_dinamicas_list' %}" class="btn-link">Volver al listado</a>
    </div>
</form>

{% endblock %}